<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  {{!-- nav --}}
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/dashboard">Dashboard</a></li>

    {{#if logged_in }}
    <li><a href="/logout">Logout</a></li>
    {{else}}
    <li><a href="/login">login</a></li>
    {{/if}}

  </ul>

  {{{ body }}}

  
</body>
</html>